.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.row {
  display: flex;
}

.box {
  background-color: lightblue;
  height: 30px;
  width: 30px;
  margin: 5px;
}

.yellow{
  background-color: yellow;
}

.green{
  background-color: green;
}

.grey{
  background-color: grey;
}